<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.balsa.sharemev10">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/small_logo_share_me"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".Profile_Activity" />
        <activity android:name=".Friends_Activity" />
        <activity android:name=".Settings_Activity" />
        <activity android:name=".Menu_Activity" />
        <activity android:name=".Create_Activity" />
        <activity android:name=".Create_Activity_Step_2" />
        <activity android:name=".Create_Activity_Step_3" />
        <activity android:name=".Create_Activity_Step_4" />
        <activity android:name=".Create_Activity_Step_final" />
        <activity android:name=".List_Activity"></activity>
    </application>

</manifest>